com.crivero.arq.parent/com.crivero.arq.module.configuration/target/
com.crivero.arq.parent/com.crivero.arq.module.root/target/
com.crivero.arq.parent/com.crivero.arq.module.literals/target/
com.crivero.arq.parent/com.crivero.web.service/target/
com.crivero.app/target/